*{
    box-sizing: border-box;
    margin: 0;
    
}
.header{
    padding: 80px;
    text-align: center;
    background-color: #1abc9c;
    color:white;
    
}
.fakeing{
    background: rgb(161, 157, 157);
    font-family: roboto light;
    font-size: 20px;
}
h5{
    font-size: 25px;
    padding: 10px;
    font-family: roboto;
}
p{
    font-size: 20px;
    padding: 10px;
    font-family: roboto light; 
}
.header{
    font-size: 40px;
}
.navbar{
    overflow: hidden ;
    background-color: #333;
}
.navbar a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
.navbar a.right{
    float:right;
}
.navbar a:hover{
    background: #ddd;
    color: black;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.side{
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
}
.main{
    flex: 70%;
    background-color: white;
    padding: 20px;
}
.footer{
    padding: 20px;
    background: rgb(161, 157, 157);
    text-align: center;
    font-family: roboto ; 
}
h2{
    font-size: 25px;
    font-family: roboto;
}